.about {
  background-color: #1bbc9c;
  // padding: 20px;
  margin-top: 20px;
}

.lineW {
  width: 120px;
  height: 4px;
  background-color: white;
  margin: 0 15px;
}

.width {
  max-width: 900px;
}
