@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./component/navbar.scss";
@import "./component/startBootstrap.scss";
@import "./component/portfolio.scss";
@import "./component/about.scss";
@import "./component/contactMe.scss";

/* @import "../node_modules/reactstrap/dist/" */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
